<head>

  <script type="text/javascript">
    (function(m,e,t,r,i,k,a){
        m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
       /*  */ m[i].l=1*new Date();
        for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
        k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)
    })(window, document,'script','https://mc.yandex.ru/metrika/tag.js?id=104070129', 'ym');
  
    ym(104070129, 'init', {ssr:true, webvisor:true, clickmap:true, ecommerce:"dataLayer", accurateTrackBounce:true, trackLinks:true});
  </script>
  <noscript><div><img src="https://mc.yandex.ru/watch/104070129" style="position:absolute; left:-9999px;" alt="" /></div></noscript>

  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
  <!-- Essential meta tags -->
  <link rel="profile" href="http://gmpg.org/xfn/11">
  {% if page.url %}<link rel="canonical" href="{{ page.url | absolute_url }}">{% endif %}

  <!-- Preload critical resources -->
  <link rel="preload" href="{{ '/public/css/lanyon.css' | absolute_url }}" as="style">
  <link rel="preload" href="https://fonts.googleapis.com/css?family=PT+Serif:400,400i,700|PT+Sans:400" as="style">

  <!-- CSS with media queries -->
  <link rel="stylesheet" href="{{ '/public/css/poole.css' | absolute_url }}">
  <link rel="stylesheet" href="{{ '/public/css/syntax.css' | absolute_url }}">
  <link rel="stylesheet" href="{{ '/public/css/lanyon.css' | absolute_url }}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Serif:400,400i,700|PT+Sans:400" media="print" onload="this.media='all'">

  <!-- Favicons -->
  <link rel="icon" href="{{ '/public/me.ico' | absolute_url }}" sizes="any">
  <link rel="icon" href="{{ '/public/me.png' | absolute_url }}" type="image/png">
  <link rel="apple-touch-icon" href="{{ '/public/me.png' | absolute_url }}">

  <!-- RSS -->
  <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ '/atom.xml' | absolute_url }}">

  <!-- Scripts moved to bottom of body -->
</head>