<!DOCTYPE html>
<html lang="en-us">
<head>
  <link rel="stylesheet" href="{{ '/public/css/lanyon.css' | absolute_url }}">
</head>
<body class="theme-base-0d">
  <input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">
  
  <label for="sidebar-checkbox" class="sidebar-toggle">
    <span class="menu-icon"></span>
  </label>

  <div class="sidebar">
    <div class="sidebar-item">
      <p>{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item" href="{{ site.baseurl }}">Начальная страница</a>
      <a class="sidebar-nav-item" href="{{ site.baseurl }}/for_me/">Обо мне</a>
      <a class="sidebar-nav-item" href="{{ site.baseurl }}/stack/">Стек</a>
      <a class="sidebar-nav-item" href="{{ site.baseurl }}/career/">Карьерный трек</a>
       

      <div class="sidebar-nav-group">
        <button class="sidebar-nav-item sidebar-nav-toggle">
          <span class="toggle-content">
            Проекты
            <svg class="toggle-icon" viewBox="0 0 24 24">
              <path d="M7 10l5 5 5-5z"/>
            </svg>
          </span>
        </button>
        
        <div class="sidebar-submenu">
          <!-- Группа Проекты_1 -->
          <div class="sidebar-nav-group">
            <button class="sidebar-nav-item sidebar-nav-toggle">
              <span class="toggle-content">
                Проекты_1
                <svg class="toggle-icon" viewBox="0 0 24 24">
                  <path d="M7 10l5 5 5-5z"/>
                </svg>
              </span>
            </button>
            <div class="sidebar-submenu">
              <a href="{{ site.baseurl }}/project1/item1/" class="sidebar-nav-item submenu-item">
                Элемент Проектов_1
              </a>
              <a href="{{ site.baseurl }}/project1/item2/" class="sidebar-nav-item submenu-item">
                Другой элемент Проектов_1
              </a>
            </div>
          </div>
          
          <!-- Группа Проекты_2 -->
          <div class="sidebar-nav-group">
            <button class="sidebar-nav-item sidebar-nav-toggle">
              <span class="toggle-content">
                Проекты_2
                <svg class="toggle-icon" viewBox="0 0 24 24">
                  <path d="M7 10l5 5 5-5z"/>
                </svg>
              </span>
            </button>
            <div class="sidebar-submenu">
              <a href="{{ site.baseurl }}/project/capacity/" class="sidebar-nav-item submenu-item">
                Дашборд по учёту ёмкости ресурсов компании
              </a>
              <a href="{{ site.baseurl }}/project/clients/" class="sidebar-nav-item submenu-item">
                Клиентская аналитика
              </a>
              <a href="{{ site.baseurl }}/project/basket/" class="sidebar-nav-item submenu-item">
                Аналитика корзины
              </a>
              <a href="{{ site.baseurl }}/project/linter/" class="sidebar-nav-item submenu-item">
                SQL - линтер
              </a>
            </div>
          </div>
        </div>
      </div>

      
      <div class="sidebar-item">
        <p>&copy; {{ site.time | date: '%Y' }}. Тимакин Сергей.</p>
      </div>
    </nav>
  </div>

  <div class="wrap">
    <!-- Основной контент -->
  </div>

  <script src='{{ site.baseurl }}/public/js/sidebar.js'></script>
</body>
</html>