<!DOCTYPE html>
<html lang="en-us">
<head>
  <link rel="stylesheet" href="{{ '/public/css/lanyon.css' | absolute_url }}">
</head>
<body class="theme-base-0d">
  <input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">
  
  <label for="sidebar-checkbox" class="sidebar-toggle">
    <span class="menu-icon"></span>
  </label>

  <div class="sidebar">
    <div class="sidebar-item">
      <p>{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item" href="{{ site.baseurl }}">✋Начальная страница</a>
      <a class="sidebar-nav-item" href="{{ site.baseurl }}/career/">💼Карьерный трек</a>
      <a class="sidebar-nav-item" href="{{ site.baseurl }}/stack/">📱Стек</a>


<div class="sidebar-nav-group  sidebar-nav-group_teach">
  <button class="sidebar-nav-item sidebar-nav-toggle_teach" data-menu-id="teach_main">
    <span class="toggle-content_teach">
      📋Учебные материалы
      <svg class="toggle-icon_teach" viewBox="0 0 24 24">
        <path d="M7 10l5 5 5-5z"/>
      </svg>
    </span>
  </button>
</div>



<!-- В _includes/sidebar.html -->
<div class="sidebar-nav-group sidebar-nav-group">
  <button class="sidebar-nav-item sidebar-nav-toggle" data-menu-id="projects_main">
    <span class="toggle-content">
      📋Рабочие проекты
      <svg class="toggle-icon" viewBox="0 0 24 24">
        <path d="M7 10l5 5 5-5z"/>
      </svg>
    </span>
  </button>
  
  <div class="sidebar-submenu">
    <!-- Проекты_2 -->
    <div class="sidebar-nav-group sidebar-nav-group_2">
      <button class="sidebar-nav-item sidebar-nav-toggle_2" data-menu-id="project_2">
        <span class="toggle-content_2">
          Бизнес проекты
          <svg class="toggle-icon_2" viewBox="0 0 24 24">
            <path d="M7 10l5 5 5-5z"/>
          </svg>
        </span>
      </button>
      <div class="sidebar-submenu_2">
        </a>
        <a href="{{ site.baseurl }}/project/project_2/basket/" class="sidebar-nav-item submenu-item">
          Аналитика корзины
        </a>
      </div>
    </div>


    <!-- Проекты_3 -->
    <div class="sidebar-nav-group sidebar-nav-group_3">
      <button class="sidebar-nav-item sidebar-nav-toggle_3" data-menu-id="project_3">
        <span class="toggle-content_3">
          Технические проекты
          <svg class="toggle-icon_3" viewBox="0 0 24 24">
            <path d="M7 10l5 5 5-5z"/>
          </svg>
        </span>
      </button>
      <div class="sidebar-submenu_3">
        </a>
        <a href="{{ site.baseurl }}/project/project_3/capacity/" class="sidebar-nav-item submenu-item">
          Капасити отчетность
        </a>
      </div>
    </div>
  </div>
</div>

      
      <div class="sidebar-item">
        <p>&copy; {{ site.time | date: '%Y' }}. Тимакин Сергей.</p>
      </div>
    </nav>
  </div>

  <div class="wrap">
    <!-- Основной контент -->
  </div>

  <script src='{{ site.baseurl }}/public/js/sidebar.js'></script>
</body>
</html>